<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/magnefic-popup/magnific-popup.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- ================ header section start ================= -->
<header class="header_area" th:fragment="header"
        xmlns:th="http://www.thymeleaf.org"
        th:with="user=${session.user}">
    <div class="header-top">
        <div class="container">
            <div class="d-flex align-items-center">
                <div id="logo">
                    <a th:href="@{/hotel}"><img src="/img/Logo.png" alt="" title=""/></a>
                </div>
                <div class="ml-auto d-none d-md-block d-md-flex">
                    <div class="media header-top-info">
                        <span class="header-top-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <p>Liên Hệ?</p>
                            <p>Miễn Phí: <a href="tel:+12 365 5233">+84 6503 3812</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav">
                        <li class="nav-item" th:if="${user != null and user.role != 'CUSTOMER'}"><a class="nav-link"
                                                                                                    th:href="@{/hotel/dashboard}">DASHBOARD</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/hotel}">TRANG CHỦ</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/rooms}">PHÒNG</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/news}">TIN TỨC</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/sale}">SALE</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">AI</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" th:href="@{/ai/chatbot}">AI CHATBOT</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/ai/report}">BÁO CÁO</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/contact}">LIÊN HỆ</a></li>
                    </ul>
                </div>

                <ul class="social-icons ml-auto">
                    <!-- Cart -->
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>

                    <!-- If user is logged in -->
                    <li th:if="${user != null}" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            <span th:text="${user.username}" class="ml-1"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">

                            <!-- Always visible for logged-in users -->
                            <a class="dropdown-item" th:href="@{/hotel/order}">
                                <i class="fas fa-receipt mr-2"></i> Đơn hàng
                            </a>
                            <a class="dropdown-item" th:href="@{/hotel/profile}">
                                <i class="fas fa-user-circle mr-2"></i> Hồ sơ
                            </a>
                            <div class="dropdown-divider"></div>

                            <!-- Logout -->
                            <form th:action="@{/hotel/logout}" method="post" style="display: inline;">
                                <button type="submit" class="dropdown-item text-danger">
                                    <i class="fas fa-sign-out-alt mr-2"></i> Đăng xuất
                                </button>
                            </form>
                        </div>
                    </li>

                    <!-- If user is null (not logged in) -->
                    <li th:if="${user == null}" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="loginDropdown">
                            <a class="dropdown-item" th:href="@{/hotel/login}">
                                <i class="fas fa-sign-in-alt mr-2"></i> Đăng nhập
                            </a>
                            <a class="dropdown-item" th:href="@{/hotel/register}">
                                <i class="fas fa-user-plus mr-2"></i> Đăng ký
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
    <div id="toast-container" class="toast-container">
        <div th:if="${message}" class="toast toast-success" th:text="${message}"></div>
        <div th:if="${error}" class="toast toast-error" th:text="${error}"></div>
    </div>
</header>
<!-- Toast container -->

<!-- ================ header section end ================= -->

<script src="/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/vendors/magnefic-popup/jquery.magnific-popup.min.js"></script>
<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/vendors/easing.min.js"></script>
<script src="/vendors/superfish.min.js"></script>
<script src="/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="/vendors/jquery.ajaxchimp.min.js"></script>
<script src="/vendors/mail-script.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
