<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tạo mã giảm giá</title>
    <base th:href="@{/static}">
    <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.png}" />
</head>

<body>
<div class="container-scroller">
    <!-- Include sidebar -->
    <div th:replace="~{common/sidebar :: sidebar}"></div>

    <div class="container-fluid page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg"
                                                                               alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            </div>
        </nav>

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Tạo Phòng Mới</h4>
                                <!-- Nội dung của bạn ở đây -->
                                <form th:action="@{/hotel-management/room/create}" th:object="${room}" method="post">

                                    <!-- Thêm hidden để bắt được discountId khi nhấn update -->
                                    <input type="hidden" th:field="*{roomId}" />

                                    <div th:if="${errorMessage}" class="alert alert-danger"
                                         th:text="${errorMessage}"></div>

                                    <label>Số phòng: *</label><br>
                                    <input type="text" th:field="*{roomNumber}" required><br><br>

                                    <label>Loại phòng: *</label><br>
                                    <select th:field="*{roomType}" required>
                                        <option value="">-- Chọn loại phòng --</option>
                                        <option th:each="type : ${roomTypes}" th:value="${type}" th:text="${type}"></option>
                                    </select><br><br>

                                    <label>Loại giường: *</label><br>
                                    <select th:field="*{bedType}" required>
                                        <option value="">-- Chọn loại giường --</option>
                                        <option th:each="bed : ${bedTypes}" th:value="${bed}" th:text="${bed}"></option>
                                    </select><br><br>

                                    <label>Tầng: *</label><br>
                                    <select th:field="*{floorId}" required>
                                        <option value="">>-- Chọn tầng --< </option>
                                        <option th:each="floor : ${floors}"
                                                th:value="${floor.floorId}"
                                                th:text="'Tầng ' + ${floor.floorNumber}">
                                        </option>
                                    </select><br><br>

                                    <label>Diện tích: *</label><br>
                                    <select th:field="*{sizeId}" required>
                                        <option value="">-- Chọn diện tích --</option>
                                        <option th:each="size : ${sizes}"
                                                th:value="${size.sizeId}"
                                                th:text="${size.size} + 'm²'">
                                        </option>
                                    </select><br><br>

                                    <label>Giá/đêm (VNĐ): *</label><br>
                                    <input type="number" th:field="*{price}" required><br><br>

                                    <label>Trạng thái: *</label><br>
                                    <select th:field="*{status}" required>
                                        <option value="">-- Chọn trạng thái --</option>
                                        <option th:each="s : ${statuses}" th:value="${s}" th:text="${s}"></option>
                                    </select><br><br>

                                    <label>Mô tả phòng:</label><br>
                                    <textarea th:field="*{roomDescription}" rows="4" cols="50"></textarea><br><br>

                                    <button><a th:href="@{/hotel-management/room}">Huỷ</a></button>
                                    <button type="submit">Lưu phòng</button>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/assets/js/off-canvas.js}"></script>
<script th:src="@{/assets/js/hoverable-collapse.js}"></script>
<script th:src="@{/assets/js/misc.js}"></script>
</body>

</html>